body {
    font-family: 'Roboto', sans-serif;
    background-color: #A9A9A9;
}

.hero {
    background-image: url('C:/wamp64/www/web-projem/images/bg-hero.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}


